
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #f6f5ff;
    --text-color: #100e0e;
    --toggle-color: #ddd;

    /* ====== Transition === */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}


body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #ccc;
    --primary-color-light: #3a3b3c;
    --text-color: #fff;
    --toggle-color: #ddd;
}

/* ===== sidebar === */
.sidebar{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 250px;
    padding: 0px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.ss{
    background: var(--sidebar-color);
    padding-top: 30px;
}

.sidebar.close{
    width: 79px;
}
/* ===== Reusable === */

.text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    opacity: 1;
}


.header-text{
    padding-left: 2px;
}

.sidebar.close .text{
    display: none;
}

.sidebar .image{
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: 15px;
}

.sidebar li .icons,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-03);
}


.sidebar header{
    position: relative;
}


.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}


.sidebar header .image-text{
    display: flex;
    align-items: center;
    color: var(--text-color);
    white-space: nowrap;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
    white-space: nowrap;

}


header .image-text .name{
    font-weight: 700;
}

header .image-text .profession{
    margin-top: -3px;
}

.header-content .toggle{
    position: relative;
    cursor: pointer;
    top: 20px;
    height: 40px;
    width: 40px;
    padding: 10px 14px;
    transform: translateY(-50%) rotate(180deg);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 16px;
    transition: var(--tran-4);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}
.header-content .toggle{
    position: relative;
    cursor: pointer;
    top: 20px;
    height: 40px;
    width: 40px;
    padding: 10px 14px;
    transform: translateY(-50%) rotate(180deg);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 16px;
    transition: var(--tran-4);
}

.toggle.close .toggle{
    transform: translateY(-50%);
}



.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-03);
    white-space: nowrap;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--text-color);
    background: var(--primary-color-light);
    white-space: nowrap;
}
.sidebar a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icons,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
    cursor: pointer;
}
.sidebar li a:hover .icons,
.sidebar li a:hover .text{
    color: var(--text-color);
}


.sidebar .nav-link{
    background: var(--primary-color-light);
    border-radius: 10px;
}
body.dark .sidebar li a .icons,
body.dark .sidebar li a .text{
    color: var(--text-color);
}


.sidebar .menu-bar{
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
        white-space: nowrap;

}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;

}
.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}


.toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
        white-space: nowrap;

}


.toggle-switch .switch{
    position: relative;
    height: 25px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-04);
    white-space: nowrap;

}
.toggle-switch .mode-text{
    padding-left: 10px;

}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);

}


body.dark .switch::before{
    left: 24px;
}

.home{
    position: relative;
    left: 220px;
    height: 100vh;
    width: calc(100% - 190px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    /* padding: 10px 40px; */
    /* overflow-y: auto; */
    padding: 1px 0 0 40px;
}

.product{
        margin-top: 70px;
        transition: var(--tran-05);
    }


.sidebar.close ~ .home{
    left: 50px;
    width: calc(100% - 50px);
}


.header-content{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 10px;
    background: var(--sidebar-color);
    border-radius: 10px;
    /* background-color: #695CFE; */
}


.header-content .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    gap: 30px;
}
.header-content .nav-content .link{
    list-style: none;
    background: var(--primary-color-light);
    /* width: 20%; */
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.header-content .nav-content .link li a{
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

.toggle-left{
    display: none;
}


@media (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }

    .home{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 110px;
        font-size: 20px;
        padding: 0 0 0 0;
        max-width: 100%;
        left: 10px;
    width: calc(100% - 190px);
    width: 95%;

    transition: var(--tran-05);
    }

    .product{
        margin-top: 20px;
        transition: var(--tran-05);
    }
    .sidebar.close ~ .home{
        left: 10px;
        width: calc(100% - 190px);
        width: 95%;
        transition: var(--tran-05);
    }

    .nav-content{
        display: none;
        position: fixed;
        width: 100%;
        left: 0;
        background-color: #2f2c53;
        border-radius: 10px;
    }
    .nav-content .link a{
        display: grid;
        padding: 1px;
    }
    .header{
        left: 0;
        transition: var(--tran-05);
    }
    .header-content{
        position: fixed;
        left: 0px;
        transition: var(--tran-05);
        padding: 10px;
    }

    .ss{
        display: none;
    }

    .sidebar{
        padding-top: 15px;
        transition: var(--tran-04);
    }
    
    .sidebar.close{
        left: 0;
        display: none;
        transition: var(--tran-04);
        transform: var(--tran-04);
    }
    body.sidebar .header-content{
        margin-left: 250px;
        transition: var(--tran-04);
    }

    .nav-content {
        opacity: 0;
        bottom: 0;
    }
    .nav-content .link a{
        padding: -10px;
    }
    .home .header-content .nav-content{
        margin: 5px 0;
        padding: -12px;
    }

    .toggle-left{
        display: block;
        position: fixed;
        font-size: 40px;
        width: 30px;
        left: 210px;
        cursor: pointer;
        transition: var(--tran-04);
        color: var(--text-color);
    }
}